:root {
    /* rgb(238, 77, 45) */
    --primary-color: #94CB50;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* text-decoration: none; */
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    line-height: 1.6rem;
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
}

.float-right {
    float: right !important;
}

.d-none {
    display: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

.btn {
    padding: 16px 48px;
    position: absolute;
    background: var(--primary-color);
    border: none;
    color: var(--white-color);
    font-size: 1.8rem;
    line-height: 2.2rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
}

.text-primary {
    color: var(--primary-color);
}

.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.bg-light-green {
    background-color: #EEFAF1;
}

.bg-light-sky {
    background-color: #f8fbff;
}

.bg-light-sea {
    background-color: #E3EFFF;
}

.bg-light-yellow {
    background-color: #FFF9EB;
}

.p-50 {
    padding: 50px;
}

.p-40 {
    padding: 40px;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-top {
    border-top: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

.border-right {
    border-right: 1px solid;
}

.border-bottom-left-radius-10 {
    border-bottom-left-radius: 10px;
}

.border-bottom-right-radius-10 {
    border-bottom-right-radius: 10px;
}

.border-top-left-radius-10 {
    border-top-left-radius: 10px;
}

.border-top-right-radius-10 {
    border-top-right-radius: 10px;
}

.text-dark {
    color: var(--black-color);
}