:root {
    /* rgb(238, 77, 45) */
    --primary-color: #94CB50;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    line-height: 1.6rem;
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
}

.float-right {
    float: right !important;
}

.d-none {
    display: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

.btn {
    padding: 16px 48px;
    position: absolute;
    background: var(--primary-color);
    border: none;
    color: var(--white-color);
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}