@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Product\ Sans\ Regular.otf);
}

body {
    background-color: #FFF;
    font-family: myFirstFont;
}

.vh-web {
    background-color: var(--white-color);
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

.vh-header {
    position: relative;
}

.vh-home-banner {
    background: url('../../assets/img/banner_main.png');
    background-repeat: no-repeat;
    background-position: 80% 80%;
}

.header-wrap {
    display: flex;
    height: 120px;
    padding: 18px 0;
}

.header-logo {}

.header-menu {
    flex: 1;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item,
.menu-child-item {
    margin: 0 16px;
}

.menu-child-item {
    border-bottom: 1px solid #e0e0e0;
}

.menu-child-item:last-child {
    border: none;
}

.menu-item:hover .menu-link {
    opacity: 0.7;
}

.menu-item-active .menu-link {
    color: var(--primary-color);
}

.menu-link {
    text-decoration: none;
    color: #222;
    font-size: 1.6rem;
    line-height: 3.4rem;
    font-weight: 700;
}

.menu-item.menu-parent {
    position: relative;
}

.menu-parent:hover .menu-child {
    display: block;
}

.menu-child {
    width: 180px;
    display: none;
    position: absolute;
    z-index: 1;
}

.menu-child-list {
    background-color: var(--white-color);
    list-style: none;
    margin-top: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 1px 2px #e0e0e0;
}

.menu-child-item:hover .menu-child-link {
    opacity: 0.7;
}

.menu-child-link {
    text-decoration: none;
    color: #222;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 500;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-img {
    padding-right: 30px;
}

.search-input {
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    outline: none;
}

.home-banner {
    position: relative;
    height: 630px;
}

.home-banner-title {
    position: absolute;
    left: 0;
    top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7.2rem;
    color: #222;
}

.home-banner-content {
    position: absolute;
    left: 0;
    top: 122px;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7.2rem;
    color: #222;
    width: 493px;
}

.home-banner-description {
    position: absolute;
    width: 541px;
    height: 76px;
    left: 0;
    top: 282px;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.8rem;
    color: #444;
}

.home-banner-button {
    left: 0;
    top: 422px;
}

.vh-home-content {}

.statistic-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 184px;
}

.statistic-customer-item {
    background: url('../../assets/img/Ellipse_8.png');
    background-repeat: no-repeat;
    background-position: 33% 46%;
    width: 100%;
    height: 184px;
}

.statistic-customer-border {
    border-right: 1px solid #d9d9d9;
    height: 72px;
}

.statistic-customer-item-total {
    margin-top: 62px;
    margin-left: 112px;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.8rem;
}

.statistic-customer-item-desc {
    margin-left: 112px;
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

.who-are-we {
    background: url('../../assets/img/who_are_we.png') bottom center / cover no-repeat;
    height: 650px;
    position: relative;
}

.who-are-we-wrap {}

.who-are-we-question {
    position: absolute;
    left: 50%;
    top: 100px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #444;
}

.who-are-we-title {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 140px;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.4rem;
    color: #222;
}

.who-are-we-content {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 286px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #444;
}

.who-are-we-desc {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 366px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.who-are-we-button {
    left: 50%;
    top: 478px;
}

.our-service {
    background: url('../../assets/img/our_service.png') top center / cover no-repeat;
    height: 680px;
    text-align: center;
    padding-top: 108px;
}

.our-service-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #444;
    padding: 0 8px;
}

.our-service-desc {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.6rem;
    color: #222;
    margin-bottom: 24px;
}

.our-service-slider {
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.our-service-list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-service-card {
    width: 100%;
    height: 216px;
    padding: 30px 10px 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-service-img {}

.our-service-img:last-child {
    width: 280px;
}

.our-service-eye {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 50%;
    color: #adadad;
}

.our-service-item-active .our-service-eye {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.our-service-item-active .our-service-name {
    color: var(--primary-color);
}

.our-service-item {
    width: 280px;
    height: 320px;
    background-color: var(--white-color);
}

.our-service-item-active {
    height: 340px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
}

.our-service-item-active .our-service-name {
    padding: 30px 40px;
}

.our-service-name {
    padding: 20px 40px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
}

.our-service-button {
    width: 60px;
    height: 60px;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #bdbdbd;
    cursor: pointer;
}

.our-service-button:hover {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.our-service-button-pre {
    margin-left: 40px;
    margin-right: 10px;
}

.our-service-button-next {
    margin-left: 10px;
    margin-right: 40px;
}

.home-customers {
    background: url('../../assets/img/home_customers.png') top center / cover no-repeat;
    height: 910px;
    padding: 40px 0;
    position: relative;
}

.home-customers-title {
    position: absolute;
    width: 546px;
    height: 29px;
    left: 108px;
    top: 108px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #444;
}

.home-customers-desc {
    position: absolute;
    width: 642px;
    height: 98px;
    left: 108px;
    top: 146px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.9rem;
    color: #222;
}

.home-customer-list {
    position: absolute;
    width: 50%;
    height: 384px;
    left: 47%;
    top: 324px;
    display: flex;
    justify-content: center;
}

.home-customer-item {
    width: 280px;
    border: 1px solid #efefef;
    margin: 0 16px;
}

.home-customer-item-header {}

.home-customer-item-header-top {
    width: 100%;
    height: 104px;
}

.home-customer-item-header-top-1 {
    background: url('../../assets/img/home_customer_item_header_img_1.png') no-repeat;
    background-position: 20% 44%;
}

.home-customer-item-header-top-2 {
    background: url('../../assets/img/home_customer_item_header_img_2.png') no-repeat;
    background-position: 20% 44%;
}

.home-customer-item-header-img {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    margin-left: 64px;
}

.home-customer-item-header-for {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.1rem;
    color: #444;
    margin: 0 25px 6px 19px;
}

.home-customer-item-header-desc {
    margin: 0 25px 0 19px;
    padding-bottom: 9px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #222;

}

.home-customer-item-body {}

.home-customer-item-body-list {
    list-style: none;
    margin: 0 25px 6px 19px;
}

.home-customer-item-body-item {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.home-customer-item-body-item:last-child {
    border: none;
}

.home-commit {
    background: url('../../assets/img/home_commit.png') top center / cover no-repeat;
    height: 624px;
    position: relative;
}

.home-commit-content {
    position: absolute;
    width: 544px;
    top: 100px;
    left: 112px;
    height: 500px;
}

.home-commit-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #444;
}

.home-commit-desc {
    margin-top: 8px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.9rem;
    color: #222;
}

.home-commit-info {
    margin-top: 10px;
    padding-left: 36px;
}

.home-commit-list {
    list-style: none;
}

.home-commit-list li::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 2rem;
}

.home-commit-item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #444;
    padding: 13px 0;
}

.company-members {
    background: url('../../assets/img/company_member.png') bottom center / cover no-repeat;
    height: 642px;
    margin-bottom: 24px;
}

.company-members-title {
    padding-top: 108px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #444;
}

.company-members-desc {
    margin-top: 8px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #222;
}

.company-members-list {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin-left: -16px;
    margin-right: -16px;
}

.company-members-item {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
}

.company-members-img {
    width: 100%;
}

.company-members-job {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #444;
    text-align: center;
}

.company-members-name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #222;
    text-align: center;
}

.vh-footer {}

.vh-footer-top {
    background: url('../../assets/img/banner_bot.png') bottom center / cover no-repeat;
    height: 320px;
    text-align: center;
    position: relative;
}

.footer-top-title {
    padding-top: 56px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4.8rem;
    color: #444;
}

.footer-top-desc {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #222;
}

.footer-top-button {
    top: 184px;
    left: 43%;
}

.vh-footer-mid {
    background: url('../../assets/img/banner_bot_2.png') bottom center / cover no-repeat;
    height: 588px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.vh-footer-mid-item {
    width: 49%;
    padding: 10px 112px 0;
}

.vh-footer-mid-item-left {
    border-right: 1px solid #d9d9d9;
    height: 400px;
}

.vh-footer-mid-item-left-logo {}

.vh-footer-mid-item-left-img {}

.vh-footer-mid-item-left-content {
    padding-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.4rem;
    color: #444;
}

.vh-footer-mid-item-left-ext {
    padding-top: 36px;
    margin-left: -12px;
}

.vh-footer-mid-item-left-ext i {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 2rem;
    color: #888;
}

.vh-footer-mid-item-right {
    padding-right: 180px;
}

.vh-footer-mid-item-right-top {
    padding: 22px 0;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 2.4rem;
    color: #222;
    border-bottom: 1px solid #d9d9d9;
}

.vh-footer-mid-item-right-mid {
    padding: 40px 0;
    border-bottom: 1px solid #d9d9d9;
}

.vh-footer-mid-item-right-bot-img,
.vh-footer-mid-item-right-mid-img {
    width: 24px;
    text-align: center;
    margin-right: 16px;
    padding-top: 6px;
}

.vh-footer-mid-item-right-bot-img i,
.vh-footer-mid-item-right-mid-img i {
    font-size: 2.4rem;
    color: #888;
}

.vh-footer-mid-item-right-mid-address {
    display: flex;
    justify-content: space-between;
}

.vh-footer-mid-item-right-mid-email-content,
.vh-footer-mid-item-right-mid-address-content {
    flex: 1;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.4rem;
    color: #444;
}

.vh-footer-mid-item-right-mid-email {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.vh-footer-mid-item-right-mid-phone {
    display: flex;
    justify-content: space-between;
}

.vh-footer-mid-item-right-mid-phone-content {
    flex: 1;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #222;
}

.vh-footer-mid-item-right-bot {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.vh-footer-mid-item-right-bot-time {
    flex: 1;
}

.vh-footer-mid-item-right-bot-time-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #222;
}

.vh-footer-mid-item-right-bot-time-content {
    padding-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #222;
}

.vh-footer-bottom {
    margin-top: -20px;
    height: 60px;
    line-height: 6rem;
    background-color: var(--primary-color);
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    color: #F0F0F0;
}

.vh-contact-banner {
    background: url('../../assets/img/banner_contact_top.png') bottom center / cover no-repeat;
    height: 350px;
}

.vh-contact-banner-wrap {
    position: relative;
}

.vh-contact-banner-left {}

.vh-contact-banner-left-img {
    position: absolute;
    bottom: -353px;
    left: 30px;
}

.vh-contact-banner-mid {
    position: absolute;
    /* width: 360px;
    left: 420px; */
    left: 0;
    right: 0;
    top: 120px;
    text-align: center;
}

.vh-banner-content {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.9rem;
    color: #222;
}

.banner-brm {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.banner-brm-item {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #333;
    padding: 0 8px;
}

.banner-brm-item-active {
    color: var(--primary-color);
}

.vh-contact-banner-right {}

.vh-contact-banner-right-img {
    position: absolute;
    bottom: -274px;
    right: 116px;
}

.vh-contact-content {
    background: url('../../assets/img/contact_bg.png') top center / cover no-repeat;
}

.vh-contact-wrap {
    display: flex;
}

.vh-contact-left {
    width: 55.25%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.vh-contact-left-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.4rem;
    color: #222;
    margin-top: 56px;
}

.vh-contact-left-desc {
    margin-top: 36px;
    margin-bottom: 40px;
    padding-right: 48px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #333;
}

.vh-contact-left-label {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666666;
}

.vh-contact-left-input {
    height: 60px;
    line-height: 6rem;
    font-size: 3.6rem;
}

.vh-contact-left-textarea,
.vh-contact-left-input {
    padding: 16px 30px;
    margin-right: 48px;
    margin-top: 8px;
    border: none;
    outline: none;
    background-color: #f7f7f9;
}

.vh-contact-left-textarea {
    height: 220px;
    margin-bottom: 272px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.vh-contact-left-button {
    bottom: 168px;
}

.vh-contact-right {
    width: 43.75%;
    text-align: left;
    padding: 0px 0px 0px 52px;
}

.vh-contact-right-img {
    padding: 68px 0 48px;
    width: 100%;
}

.vh-contact-right-list {}

.vh-contact-right-item {
    display: flex;
    margin-bottom: 16px;
}

.vh-contact-right-icon {
    padding-top: 7px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.vh-contact-right-icon i {
    font-size: 2.4rem;
    color: #888;
}

.vh-contact-right-content {
    flex: 1;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.4rem;
    color: #444;
}

.vh-contact-right-item:last-child .vh-contact-right-content {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #222;
}

.vh-contact-right-ext {
    margin-top: 24px;
    margin-left: -12px;
}

.vh-contact-right-ext i {
    padding: 0 12px;
    font-size: 2.4rem;
    color: #888;
}

.vh-news-content {}

.vh-news-banner {
    background: url('../../assets/img/banner_news_top.png') top center / cover no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vh-news-wrap {
    background: url('../../assets/img/1_dong_dau_cham.png') no-repeat;
    background-position: 100% 2%;
    padding-top: 60px;
}

.vh-news-list {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 60px;
}

.vh-news-item {
    padding: 20px 0;
}

.vh-news-view {
    position: relative;
}

.vh-news-img {
    width: 100%;
    height: 264px;
}

.vh-news-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 53px;
    background-color: #d9d9d9;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    padding-top: 8px;
    padding-bottom: 0;
}

.vh-news-date-num {
    font-size: 2.4rem;
}

.vh-news-date-month {
    padding-top: 4px;
    font-size: 1.4rem;
}

.vh-news-cate-time {
    padding-top: 16px;
    display: flex;
}

.vh-news-cate {
    padding-right: 16px;
}

.vh-news-cate-btn {
    padding: 0 22px;
    height: 32px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.vh-news-time {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #333;
}

.vh-news-title {
    margin-top: 16px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-height: 6.4rem;
    color: #222;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.vh-news-info {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.vh-news-span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666;
}

.vh-news-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 6px;
}

.vh-news-name {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #333;
    padding-right: 40px;
}

.vh-news-ext {
    display: flex;
    font-size: 2rem;
}

.vh-news-ext-left {
    position: relative;
}

.vh-news-ext-left i {
    font-weight: 400;
    color: #666;
    opacity: 0.5;
}

.vh-news-ext-left-notice {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #d9d9d9;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--black-color);
}

.vh-news-ext-right {
    margin-left: 16px;
}

.vh-news-ext-right-icon {
    background: url('../../assets/img/share_icon.png') top center / cover no-repeat;
    width: 20px;
    height: 20px;
}

.vh-news-pagi {
    margin: 40px 0 120px;

}

.pagination-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 0 4px;
    cursor: pointer;
}

.pagination-item--active {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.pagination-item:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    opacity: 0.4;
}


.pagination-item--active .pagination-item__link {
    color: var(--white-color);
}

.pagination-item__link {
    text-decoration: none;
    color: #444;
    font-weight: 400;
    font-size: 1.6rem;
}

.vh-web-design-content {
    position: relative;
}

.vh-web-design-banner {
    background: url('../../assets/img/banner_web_design_top.png') top center / cover no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vh-web-design-wrap {
    background: url('../../assets/img/web_design_wrap.png') no-repeat;
    min-height: 510px;
    background-position: 50% 50%;
    margin: 50px 0 100px;
}

.vh-web-design-img {
    position: absolute;
    left: 0;
    top: 57px;
}

.vh-web-design-item {}

.vh-web-design-item-title {
    height: 49px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.4rem;
    color: #222;
}

.vh-web-design-item-content {
    padding: 24px 0 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #222;
}

.vh-web-design-item-desc {
    height: 55px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.vh-web-design-item-bot {
    margin-top: 32px;
    display: flex;
}

.vh-web-design-item-btn {
    position: relative;
    margin-right: 55px;
    height: 54px;
}

.vh-web-design-item-hotline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vh-web-design-item-img {
    width: 61px;
    height: 51px;
    background: url('../../assets/img/Ellipse_7.png') top center / cover no-repeat;
    position: relative;
}

.vh-web-design-item-icon {
    position: absolute;
    top: -6px;
    left: 13px;
}

.vh-web-design-item-hotline-wrap {
    margin-left: 24px;
    font-weight: 700;
}

.vh-web-design-item-label {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #444;
}

.vh-web-design-item-phone {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #222;
}

.vh-about-us-banner {
    background: url('../../assets/img/banner_about_us_top.png') top center / cover no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vh-history {
    background: url('../../assets/img/history_bg.png') top center / cover no-repeat;
    min-height: 700px;
}

.vh-history-wrap {
    padding-top: 50px;
}

.vh-history-item {}

.vh-history-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #222;
}

.vh-history-content {
    padding: 16px 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #222;
}

.vh-history-target {
    font-style: italic;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
    border-left: 2px solid var(--primary-color);
    padding-left: 16px;
    margin-right: -36px;
}

.vh-history-desc {
    padding: 16px 0 60px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.vh-history-bot {
    display: flex;
}

.vh-history-btn {
    position: relative;
    margin-right: 55px;
    height: 54px;
}

.vh-history-img {
    width: 61px;
    height: 51px;
    background: url('../../assets/img/Ellipse_7.png') top center / cover no-repeat;
    position: relative;
}

.vh-history-icon {
    position: absolute;
    top: -6px;
    left: 13px;
}

.vh-history-ext {
    margin-left: 24px;
    font-weight: 700;
}

.vh-history-hotline {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.vh-history-phone {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #222;
}

.vh-choose-me {
    padding: 60px 0;
}

.vh-choose-me-img {}

.vh-choose-me-question {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #444;
    margin-bottom: 15px;
}

.vh-choose-me-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #222;
    margin-bottom: 48px;
}

.vh-choose-me-list {}

.vh-choose-me-item {
    display: flex;
    position: relative;
}

.vh-choose-me-item:first-child::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 38px;
    background-color: #d9d9d9;
    bottom: 6px;
    left: 39px;
}

.vh-choose-me-item:last-child::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 38px;
    background-color: #d9d9d9;
    top: -44px;
    left: 39px;
}

.vh-choose-me-image {
    min-width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vh-choose-me-icon {}

.vh-choose-me-content {
    padding-left: 20px;
    margin-bottom: 24px;
}

.vh-choose-me-content-head {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #333;
    margin-bottom: 8px;
}

.vh-choose-me-content-body {
    height: 76px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.vh-core-values {
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}

.vh-core-values-bg-icon-left {
    position: absolute;
    top: 140px;
    right: -50px;
}

.vh-core-values-bg-icon-right {
    position: absolute;
    bottom: 150px;
    left: -100px;
}

.vh-core-values-question {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4.5rem;
    color: #444;
}

.vh-core-values-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.9rem;
    color: #222;
}

.vh-core-values-list {
    margin-top: 26px;
}

.vh-core-values-item {
    border: 2px solid #EBEBEB;
    padding: 28px 48px 80px;
}

.vh-core-values-img-wrap {
    height: 240px;
    display: flex;
    justify-content: center;
}

.vh-core-values-img {
    max-width: 100%;
    height: auto;
}

.vh-core-values-item-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #222;
    margin-top: 28px;
}

.vh-core-values-item-desc {
    height: 120px;
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.vh-partner-customer {
    background-color: #f9f9f9;
    padding-top: 74px;
    position: relative;
}

.vh-partner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    margin-bottom: 78px;
}

.vh-partner-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #444;
    margin: 40px 0 8px;
}

.vh-partner-desc {
    width: 88%;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #222;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

.partner-logos {
    background-color: #f9f9f9;
    height: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.partner-logo-button {
    width: 60px;
    height: 60px;
    border: 2px solid #E6E6E6;
    border-radius: 50%;
    color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6rem;
    font-size: 2rem;
    cursor: pointer;
}

.partner-logo-button:hover {
    border: none;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.partner-logo-pre {}

.partner-logo-next {}

.partner-logo-list {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.partner-logo-item {
    background-color: var(--white-color);
    margin: 0 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo-img {}

.vh-partner-slider {
    width: 100%;
    padding: 15px 22px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 120px; */
}

.vh-partner-slider-list {
    /* border: 1px solid #000; */
}

.vh-partner-slider-item {
    border: 1px solid var(--white-color);
}

.vh-partner-slider-item:hover {
    border: 1px solid #d9d9d9;
}


.vh-customer-wrap {
    padding-bottom: 90px;
}

.vh-customer-list {}

.vh-customer-item {
    background-color: var(--white-color);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.vh-customer-item-img {
    /* opacity: 0.5; */
}

.vh-partner-customer-top {
    position: absolute;
    top: 20px;
    right: 50px;
}

.vh-partner-customer-mid {
    position: absolute;
    top: 45%;
    left: 40px;
}

.vh-partner-customer-bot {
    position: absolute;
    bottom: -50px;
    right: 50px;
}

.vh-reviews {}

.vh-reviews-content {
    padding: 100px 0 40px;
}

.vh-reviews-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #444;
}

.vh-reviews-desc {
    padding: 8px 0 100px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #222;
}

.vh-reviews-list {}

.vh-reviews-item {
    position: relative;
    padding: 18px 35px;
    background-color: #f7f7f9;
}

.vh-reviews-item-img {
    position: absolute;
    width: 160px;
    height: 140px;
    top: -70px;
    left: 35px;
}

.vh-reviews-item-title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--black-color);
    height: 48px;
    position: relative;
}

.vh-reviews-item-title span {
    width: 43%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.vh-reviews-item-desc {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.vh-reviews-item-more {
    margin-top: 20px;
    display: flex;
}

.vh-reviews-item-more-img {
    margin: 0 5px;
    font-size: 4.5rem;
    color: var(--primary-color);
}

.vh-reviews-item-more-ext {
    margin-left: 40px;
}

.vh-reviews-item-more-ext-top {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--black-color);
}

.vh-reviews-item-more-ext-bot {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 4rem;
    color: #444;
}

.vh-pagi-pagi {
    display: flex;
    justify-content: center;
}

.vh-pagi-pagi-item {
    width: 10px;
    height: 10px;
    padding: 0 10px;
    color: #d9d9d9;
}

.vh-pagi-pagi-item.vh-pagi-pagi-item-active {
    color: var(--primary-color);
}

.vh-digital-marketing-content {
    position: relative;
}

.vh-digital-marketing-banner {
    background: url('../../assets/img/banner_digital_marketing_top.png') top right / cover no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vh-digital-marketing-left-img {
    position: absolute;
    top: 54px;
    left: 65px;
}

.vh-digital-marketing-right-img {
    position: absolute;
    top: 40px;
    right: 132px;
}

.vh-digital-marketing-introduce {
    background: url('../../assets/img/digital_marketing_introduce.png') top right / cover no-repeat;
    margin: 50px 75px 120px;
    min-height: 500px;
}

.vh-digital-marketing-item {
    padding: 20px 0 70px;
}

.vh-digital-marketing-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #222;
}

.vh-digital-marketing-desc {
    padding: 24px 0 32px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #333;
}

.vh-digital-marketing-content {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.vh-digital-marketing-info {
    padding: 16px 0 32px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
}

.vh-digital-marketing-more {}

.vh-digital-marketing-btn {}

.vh-digital-marketing-ext {
    display: flex;
}

.vh-digital-marketing-solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    text-align: center;
}

.vh-solution-title {
    width: 500px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 5rem;
    color: #222;
    padding-bottom: 50px;
}

.vh-solution-list {}

.vh-solution-item {
    background: var(--white-color);
    border: 1px solid #D9D9D9;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.vh-solution-image {
    height: 220px;
    padding: 20px 20px 8px;
    display: flex;
    justify-content: center;
}

.vh-solution-img {
    width: 100%;
}

.vh-solution-item-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #222;
}

.vh-solution-item-sub {
    height: 32px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #444;
}

.vh-solution-item-content {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
    padding: 6px 50px 16px;
}

.vh-solution-item-btn {
    position: relative;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.6rem;
}